@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
.dashboard {
  display: flex;
}

.dashboard-container {
  width: 18%;
  height: 112.3vh;
  background-color: #f2f2f2;
}
.dashboard_admin {
  display: grid;
  place-items: center;
  border-bottom: 1px solid grey;
  padding: 1rem;
}

.dashboard_admin img {
  object-fit: cover;
  width: 50%;
  height: 100%;
  border-radius: 50%;
}

.container_nav-dasboard {
  width: 100%;
  height: 77%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
}

.container_nav-dasboard .nav_link-dashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.tabs__toggle {
  width: 100%;
  height: 3.125rem;
  display: grid;
  place-items: center;
}

.dashboard_deconnect {
  height: 18%;
  width: 100%;
  border-top: 2px solid gray;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


a {
  text-decoration: none;
  color: black;
  padding: 0 0 0 1rem;
}

.dashboard_content {
  width: 100%;
}

.dashboard_content .dashboard_banner {
  background-color: #d4d3d3;
}

.dashboard_banner-items {
  display: flex;
  height: 17.4vh;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
}

.dashboard_items {
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}

.tabs__toggle.is-active {
  background-color: #0065fc;
  color: white;
}

.tabs__content.is-active {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
}

.tabs__content {
  padding: 30px 0 0 0;
  display: none;
}

.admin_form {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  margin-top: 1rem;
  padding: 1rem 0 2rem 2rem;
}

.admin_form .field {
  margin: 0 1rem 1rem 0;
  height: 2.5rem;
}

.admin_form label {
  margin: 0 0 0.7rem 0;
}
.tabs__body {
  margin: 0 auto;
}

button {
  margin: 0 auto;
  background-color: #0065fc;
  border: none;
  padding: 0.5rem 0.9rem;
  color: white;
}

td {
  padding: 10px;
}
